<head>

</head>
<body>
    <div class="jumbotron jumbotron-about">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class='container'>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'disalle.co', root_path, class: 'navbar-brand' %>
          </div>
          <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Work", "#" %></li>
              <li><%= link_to "Writings", "#" %></li>
              <li><%= link_to "Contact", "#" %></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    <div class="jumbotron-text">
      <h1>About</h1>
      <p>
        Coty DiSalle is a designer, developer, and digital marketer with 3 years experience.
      </p>
      <br>
      <img class="img-circle"src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1444025401/IMG_7019_ds38sm.jpg"
    </div>
  </div>
</body>